h1 {
	font-size: 36px;
	background color: gray;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	font-weight: 200;
	padding-left: 170px;
	padding-top: 40px;
	margin: 20px;	
}

div {
	float:left;
	padding-right: 300px;
}

article {
	display: block;
	width: 600px;
	padding-left: 200px;
}

aside {
	display: block;
	width: 400px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

p1{
	font-size: 24px;
	font-family: Helvetica, sans-serif;
	font-weight: 200;
}

p3{
	font-size: 24px;
	font-family: Helvetica, sans-serif;
	font-weight: 200;	
}

p2{
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	font-weight: 200;
}
p4{
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	font-weight: 200;
}
#chai{ 
	width: 250px;
}

#cocoa{ 
	width: 250px;
}

#cupcakes{ 
	width: 250px;
}

#nuts{ 
	width: 250px;
}
