body {
	background: url("../images/beans2.png");
	opacity: 0.8;
	background-size: cover;
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
}

.container {
	width: 140%;
	margin: 5px auto;
	padding-left: 2em;
}

.top {
	padding: 1em 1em;
	background-color: #FF4449;
	opacity: 0.8;
	font-size: 144
}


div a {
	text-decoration: none;
	color: #EDE646;
}

#title {
	font-size: 120px;
	color: #EDE646;
}

#menu {
	font-size: 100px;
}

#search {
	font-size: 100px;
}

#searchbar {
	display: inline;
}

#searchbar input {
	font-size: 25px;
}

#article {
	display: block;
	background:#D3D3D3;
	opacity: 0.8;
	float: left;
	width: 1090px;
	margin: 0;
	padding: .5em .5em;
}

#article p {
	@import url(https://fonts.googleapis.com/css?family=Open+Sans: 400, 700);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bolder;
	padding: 1% 2%;
	margin: 1% auto;
}

#article p a {
	@import url(https://fonts.googleapis.com/css?family=Open+Sans: 400, 700);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bolder;
	padding: 1% 2%;
	margin: 1% auto;
}


#article a {
	display: inline-block;
	text-align: left;
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
	font-size:75px;
	color: #FF4449;
	padding: 1% 2%;
}

#aside {
	margin: 0;
	padding: .5em;
}

li {
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
	font-size: 45px;
	color: #EDE646;
	text-align: left;
	text-decoration: none;
	background: none;
	padding: .5em auto;
	text-indent: 50px;
}

div a:hover {
	opacity: 0.5;
	background: #FF4449;
	color: #EDE646;
}

#article a:hover {
	opacity: 0.5;
	background: #EDE646;
	color: #FF4449;
}




@media only screen and (max-width: 800px){
	
body {
	background: url("../images/beans2.png");
	opacity: 0.8;
	background-size: cover;
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
}

.container {
	width: 140%;
	margin: 5px auto;
	padding-left: 2em;
}

.top {
	padding: 1em 1em;
	background-color: #FF4449;
	opacity: 0.8;
	font-size: 144
}


div a {
	text-decoration: none;
	color: #EDE646;
}

#title {
	font-size: 120px;
	color: #EDE646;
}

#menu {
	font-size: 100px;
}

#search {
	font-size: 100px;
}

#searchbar {
	display: inline;
}

#searchbar input {
	font-size: 25px;
}

#article {
	display: block;
	background:#D3D3D3;
	opacity: 0.8;
	float: left;
	width: 1090px;
	margin: 0;
	padding: .5em .5em;
}

#article p {
	@import url(https://fonts.googleapis.com/css?family=Open+Sans: 400, 700);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bolder;
	padding: 1% 2%;
	margin: 1% auto;
}

#article p a {
	@import url(https://fonts.googleapis.com/css?family=Open+Sans: 400, 700);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bolder;
	padding: 1% 2%;
	margin: 1% auto;
}


#article a {
	display: inline-block;
	text-align: left;
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
	font-size:75px;
	color: #FF4449;
	padding: 1% 2%;
}

#aside {
	margin: 0;
	padding: .5em;
}

li {
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
	font-size: 45px;
	color: #EDE646;
	text-align: left;
	text-decoration: none;
	background: none;
	padding: .5em auto;
	text-indent: 50px;
}

div a:hover {
	opacity: 0.5;
	background: #FF4449;
	color: #EDE646;
}

#article a:hover {
	opacity: 0.5;
	background: #EDE646;
	color: #FF4449;
}
}

@media (max-width: 480px) {

body {
	background: url("../images/beans2.png");
	opacity: 0.8;
	background-size: cover;
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
}

.container {
	width: 140%;
	margin: 5px auto;
	padding-left: 2em;
}

.top {
	padding: 1em 1em;
	background-color: #FF4449;
	opacity: 0.8;
	font-size: 144
}


div a {
	text-decoration: none;
	color: #EDE646;
}

#title {
	font-size: 120px;
	color: #EDE646;
}

#menu {
	font-size: 100px;
}

#search {
	font-size: 100px;
}

#searchbar {
	display: inline;
}

#searchbar input {
	font-size: 25px;
}

#article {
	display: block;
	background:#D3D3D3;
	opacity: 0.8;
	float: left;
	width: 1090px;
	margin: 0;
	padding: .5em .5em;
}

#article p {
	@import url(https://fonts.googleapis.com/css?family=Open+Sans: 400, 700);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bolder;
	padding: 1% 2%;
	margin: 1% auto;
}

#article p a {
	@import url(https://fonts.googleapis.com/css?family=Open+Sans: 400, 700);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bolder;
	padding: 1% 2%;
	margin: 1% auto;
}


#article a {
	display: inline-block;
	text-align: left;
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
	font-size:75px;
	color: #FF4449;
	padding: 1% 2%;
}

#aside {
	margin: 0;
	padding: .5em;
}

li {
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
	font-size: 45px;
	color: #EDE646;
	text-align: left;
	text-decoration: none;
	background: none;
	padding: .5em auto;
	text-indent: 50px;
}

div a:hover {
	opacity: 0.5;
	background: #FF4449;
	color: #EDE646;
}

#article a:hover {
	opacity: 0.5;
	background: #EDE646;
	color: #FF4449;
}
}