body {
	background: url("../images/beans2.png");
	opacity: 0.8;
	background-size: cover;
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
}

h1 {
	text-align: center;
	font-size: 180px;
	color: #EDE646;
}

span {
	display: inline-block;
	text-align: center;
	font-size: 75px;
	color: #FF4449;
	padding-right: 30%;
	padding-left: 30%;
}


div {
	color: #EDE646;
	display: block;
	float: right;
	margin: 2%;
	font-size: 180px;
}

a {
	padding-right: 2%;
	padding-left: 2%;
	text-decoration: none;
	color: #EDE646;
}

a:hover {
	opacity: 0.5;
	background: #FF4449;
}

@media only screen and (max-width: 800px){

body {
	background: url("../images/beans2.png");
	background-size: cover;
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
	}

h1 {
	text-align: center;
	font-size: 130px;
	color: #EDE646;
	}

span {
	display: inline-block;
	text-align: center;
	font-size: 60px;
	color: #FF4449;
	padding-right: 30%;
	padding-left: 30%;
	}

div {
	color: #EDE646;
	display: block;
	float: none;
	margin: 2%;
	font-size: 144px;
	}

a {
	padding-right: 2%;
	padding-left: 2%;
	text-decoration: none;
	color: #EDE646;
	}

}

@media (max-width: 480px) {

body {
	background: url("../images/beans2.png");
	background-size: cover;
	@import url(https://fonts.googleapis.com/css?family=Lobster);
	font-family: 'Lobster', cursive;
	}

h1 {
	text-align: center;
	font-size: 36px;
	color: #EDE646;
	}

span {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	color: #FF4449;
	}

div {
	color: #EDE646;
	display: block;
	float: right;
	margin: 2%;
	font-size: 86px;
	}

a {
	padding-right: 2%;
	padding-left: 2%;
	text-decoration: none;
	color: #EDE646;
	}
}